@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");

@font-face {
  font-family: Aquifer;
  src: url(../fonts/Aquifer.otf);
}

/* Global styles */
.window-app {
  font-family: "Aquifer", serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.rollable-attribute:hover, .rollable-attribute:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.rollable-luck:hover, .rollable-luck:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.rollable-ddm:hover, .rollable-ddm:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.npc-rollable:hover, .npc-rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.roll-item:hover, .roll-item:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.dice-roll .dice-tooltip {
	display: block !important;
}

.chat-message .message-header .flavor-text {
  font-size: 13px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1px;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.title {
  font-weight: bold;
  text-decoration: underline;
}
.grid-item {
  font-size:90%;
  margin:auto;
  text-align: center;
}
.border{
  border: 1px solid black;
}
.attribute-skill-grid {
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;
}
.skill-grid {
  place-items: center;
 }
 .skill-label {
   text-transform: capitalize;
 }
.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* Styles limited to lfg sheets */
.lfg .item-form {
  font-family: "Aquifer", serif;
}

.lfg .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 210px;
  flex: 0 0 210px;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.lfg .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.lfg .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.lfg .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.lfg .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.lfg .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.lfg .sheet-body,
.lfg .sheet-body .tab,
.lfg .sheet-body .tab .editor {
  height: 100%;
}

.lfg .tox .tox-editor-container {
  background: #fff;
}

.lfg .tox .tox-edit-area {
  padding: 0 8px;
}

.lfg .resource-label {
  font-weight: bold;
  text-transform: uppercase;
}

.lfg .tabs {
  height: 40px;
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}

.lfg .tabs .item {
  line-height: 40px;
  font-weight: bold;
}

.lfg .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.lfg .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.lfg .items-list .item-header {
  font-weight: bold;
}

.lfg .items-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}

.lfg .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.lfg .items-list .item img {
  display: block;
}

.lfg .items-list .item-name {
  margin: 0;
}

.lfg .items-list .item-controls {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  font-size: 10px;
  text-align: right;
}


