<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">

          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number
            from 1 to 12 and will create that number of columns.  --}}

            <div class="resources grid grid-3col">
              {{!-- "flex-group-center" is also defined in the _grid.scss file
              and it will add a small amount of padding, a border, and will
              center all of its child elements content and text. --}}

              <div class="resource flex-group-center">
                  <label for="data.health.value" class="resource-label">Health</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.health.value" value="{{data.health.value}}" data-dtype="Number"/>
                    <span> / </span>
                    <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                  <label for="data.ac.value" class="resource-label">AC</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="text" name="data.ac.value" value="{{data.ac.value}}" data-dtype="Number"/>
                  </div>
              </div>

              <div class="resource flex-group-center">
                <label for="data.npcStats.hd" class="resource-label npc-rollable" data-roll="(@npcStats.hd)d8" data-label="Hit Dice">Hit Dice</label>
                <input type="text" name="data.npcStats.hd" value="{{data.npcStats.hd}}" data-dtype="Number"/>
              </div>

            </div>

            <div class="resources grid grid-3col">
              <div class="resource flex-group-center">
                <label for="data.npcStats.move" class="resource-label">Move</label>
                <input type="text" name="data.npcStats.move" value="{{data.npcStats.move}}" data-dtype="Number"/>
              </div>
  
              <div class="resource  flex-group-center">
                <label 
                  for="data.npcStats.luck" 
                  class="resource-label rollable-luck" 
                  data-resource="luck" 
                  data-roll="1d20"
                  data-value="{{data.npcStats.luck}}" 
                  data-label="Luck"
                >
                  Luck
                </label>
                <span>
                  <select style="height: 35%;" id="luck-modifier">
                    <option data-attr="" data-mod="0">  </option>
                    {{#each data.abilities}}
                      <option data-attr="{{@key}}" data-mod="{{mod}}">{{@key}}</option>
                    {{/each}}
                  </select>
                </span>
                <div class="resource-content flexrow flex-center flex-between">
                  <input type="text" name="data.npcStats.luck" value="{{data.npcStats.luck}}" data-dtype="Number"/>
                </div>
              </div>
  
              <div class="resource flex-group-center">
                <label for="data.npcStats.noAppear" class="resource-label npc-rollable" data-roll="@npcStats.noAppear" data-label="Number Appearing">Appear</label>
                <input type="text" name="data.npcStats.noAppear" value="{{data.npcStats.noAppear}}" data-dtype="String"/>
              </div>
            </div>

        </div>
    </header>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- NPC Attributes --}}
      <div class="resources grid grid-2col">
        <div>
          <div class="ability flexrow flex-group-center">
            <span style="font-size:90%"><strong>Ability</strong></span>
            <span style="font-size:90%"><strong>Score</strong></span>
            {{!-- Commented out effect modifier column for future use --}}
           <!-- <span style="font-size:90%"><strong>Effect</strong></span> -->
            <span style="font-size:90%"><strong>Modifier</strong></span>
            <span style="font-size:90%"><strong>Great Success</strong></span>
            <span style="font-size:90%"><strong>Terrible Failure</strong></span>
          </div>
          {{#each data.abilities as |ability key|}}
           <div class="ability flexrow flex-group-center">
              <label 
                for="data.abilities.{{key}}.value" 
                class="resource-label rollable-attribute" 
                data-value="{{ability.value}}" 
                data-dice="d20" 
                data-label="{{key}}"
              >
                {{key}}
              </label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
             <!-- comment out for now <input type="text" name="data.abilities.{{key}}.effectMod" value="{{ability.effectMod}}" data-dtype="Number"/> -->
              <span class="ability-mod" data-label="{{key}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
              <span data-label="{{key}}"><strong>{{numberFormat ability.gs decimals=0 sign=false}}</strong></span>
              <span data-label="{{key}}"><strong>{{numberFormat ability.tf decimals=0 sign=false}}</strong></span>
            </div>
          {{/each}}
        </div>

        <div>

          <div class="resource flex-group-center">
            <label for="data.npcStats.atks" class="resource-label">Attacks</label>
            <input type="text" name="data.npcStats.atks" value="{{data.npcStats.atks}}" data-dtype="String"/>
          </div>

          <div class="resource flex-group-center">
            <label for="data.npcStats.npcNineteen" class="resource-label">Natural 19</label>
            <input type="text" name="data.npcStats.npcNineteen" value="{{data.npcStats.npcNineteen}}" data-dtype="String"/>
          </div>

          <div class="tab" data-group="primary">
            {{editor content=data.npcStats.description target="data.npcStats.description" button=true owner=owner editable=editable}}
          </div>
        
        </div>
      </div>

    </section>
</form>

