<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            <div class="resource">
                <label class="resource-label">Attribute</label>
                <input type="text" name="data.attribute" value="{{data.attribute}}" data-dtype="String"/>
            </div>

            {{editor content=data.properties target="data.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>