<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Quantity</label>
                  <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label roll-item" data-roll="@cost" data-label="cost">Cost</label>
                  <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="String"/>
              </div>
            </div>
        </div>
    </header>

    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{editor content=data.properties target="data.properties" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- Add new fields here --}}
        </div>
    </section>
</form>
