<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="resources grid grid-2col">

                <div class="resource">
                    <label class="resource-label">Weapon Type</label>
                    <input type="text" name="data.type" value="{{data.type}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Reach / Range</label>
                    <input type="text" name="data.reachRange" value="{{data.reachRange}}" data-dtype="String"/>
                </div>

                <!-- Comment out until Attack Roll is figured out. Add Extra Column when added back in
                <div class="resource">
                    <label for="Attack" class="resource-label rollable" data-roll="d20" data-label="attack">ATTACK</label>
                </div>
                -->

            </div>

            <div class="resources grid grid-2col">

                <div class="resource">
                    <label class="resource-label">Damage</label>
                    <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
                </div>
        
                <div class="resource">
                    <label class="resource-label">Nat19</label>
                    <input type="text" name="data.natNineteen" value="{{data.natNineteen}}" data-dtype="String"/>
                </div>

            </div>
        </div>
    </header>


           


    {{!-- Fake Navigation to keep consistent title style --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <div class="item" data-tab="properties">Properties</div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Weapon Properties Tab --}}
        <div class="tab" data-group="primary" data-tab="properties">
            {{editor content=data.properties target="data.properties" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>